.dark-blue{
    color: #2A3C81;
}

.blue{
    color: #007AFF;
}

.bg-blue{
    background: #007AFF;
}

.bg-medium-blue{
    background-color: #E5EDFB;
}

.secondary-blue{
    color: #BCC2D8;
}

.bg-grey{
    background-color: #F0F1F6;
}

.bg-light-grey{
    background-color: #F5F7FB;
}

.green{
    color: #3CD64A;
}

.bg-green{
    background-color: #3CD64A;
}

.orange{
    color: #FF9400;
}

.bg-orange{
    background-color: #FF9400;
}

.purple{
    color: #e946ff;
}

.bg-purple{
    background-color: #e946ff;
}