/*gerais*/
*{
    font-family: Montserrat, sans-serif;
}

.font-weigth-semibold{
    font-weight: 600;
}

.pos-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.vmin4{
    font-size: 4vmin;
}

footer{
    margin-top: 15vh;
}

body{
    min-height: 100vh;
}

.costum-bg{
    background-color: white;
    border-radius: 5px;
}

.progress{
    height: 4px;
}
/* CORES */
.dark-blue{
    color: #2A3C81;
}

.blue{
    color: #007AFF;
}

.bg-medium-blue{
  background-color: #E5EDFB;
}

.secondary-blue{
    color: #BCC2D8;
}

.bg-grey{
    background-color: #F0F1F6;
}

.bg-light-grey{
    background-color: #F5F7FB;
}

.green{
    color: #3CD64A;
}

.bg-green{
    background-color: #3CD64A;
}

.orange{
    color: #FF9400;
}

.bg-orange{
    background-color: #FF9400;
}

/*chart*/
.chart{
    min-height: 50vh;
}

/**Menus**/
.btn-menu-bot{
    cursor: pointer;
}

@media screen and (min-width: 998px){
    .btn-menu-bot:hover{
        color: #007AFF;
        transition: 0.7s ease;
    }

}
@media screen and (max-width: 998px){
    .menuContainer, #menu{
        display: none;
    }
}

@media screen and (min-width: 998px){
    #botMenu{
        display: none;
    }
}

.view{
     display: none;
 }

.view-active{
    display: block!important;
}

.week-card{
    display: none;
}

.week-card-active{
    display: block!important;
}
/*PROFILE*/
.profileTop {
    background: -webkit-linear-gradient(-45deg, #007aff 0%, #77b9ff 100%);
}
.marginProfile{
    border-bottom: 2px solid rgba(204,204,204,0.4);
}

/****INDEX********/
#logo{
    width: 90px;
    height: 90px;
}
.button-1{
    width: 100%;
    padding: 10px;

    border-radius: 30px;
    border: 0 solid transparent;

    background: -webkit-linear-gradient(-45deg, #007aff 0%, #77b9ff 100%);
    color: white;
}

#loginForm input, #registerForm input, #registerForm select{
    border-radius: 30px;
    border-color: #77b9ff;
    padding: 10px;
}

#registerForm select{
    padding: 10px;
    min-height: 46px;
}

#firstCheck, #secondCheck{
    cursor: pointer!important;
}

#initialBudget::placeholder, #initialBudget{
    text-align: center;
}

#initialBudget::placeholder{
    font-size: 3vmin;
}

#register{
    width: 80%!important;
}
